.show_title{
  background-color: #F7F5F2;
  width: 55%;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  padding: 0.5em 0.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.show_title:before, .show_title:after{
content: '';
position: absolute;
top: -10px;
width: 2px;
height: -webkit-calc(100% + 20px);
height: calc(100% + 20px);
background-color: black;
}
.show_title:before {left: 10px;}
.show_title:after {right: 10px;}
.show_title p {
margin: 0; 
padding: 0;
}

.show_box{
margin: 30px;
}

.showfield_question{
  border-top: dashed #000000;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
  margin: 0 auto;
}

.countbox{
    text-align: right;
}

.time_box{
    text-align: right;
}

.showquestionbox{
    width: 100%;
    margin: 0px;
}

.btn-flat-simple {
  text-align: center;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #323C59;
  background-color: #ECECEC;
  border-radius: 5px;
  transition: .4s;
  height: 45px;
  width: 80px;
}

.btn-flat-simple:hover {
  background-color: #7497ff;
  color: #ECECEC;
}

.show_link{
  display: flex;
  justify-content: center;
}

/*表示するテキストが切り替わる*/
.btntextchange{
  /*テキストの基点とするためrelativeを指定*/
position: relative;
  /*ボタンの形状*/
border: 1px solid #555;
border-radius:25px;
  min-width:210px;
  background-color: #F7F5F2;
padding: 25px;
  text-align: center;
display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s;
}

/*hoverした際の変化*/
.btntextchange:hover{
background:#8D8DAA;
color:#fff;
}

.btntextchange span{
  /*絶対配置でテキストの位置を決める*/
position: absolute;
left: 50%;
top:50%;
  transform:translate(-50%,-50%);
  /*アニメーションの指定*/
  transition: all .5s;
/*ブロック要素にしてテキスト折り返しなし*/  
display: block;
white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
opacity:0;/*透過0に*/
}

.btntextchange:hover span:nth-child(2){
opacity:1;/*不透明に*/
}


/*表示するテキストが切り替わる*/
.btntextchange_2{
  /*テキストの基点とするためrelativeを指定*/
position: relative;
  /*ボタンの形状*/
border: 1px solid #555;
background-color: #F56D91;
border-radius:25px;
  min-width:100px;
padding: 20px;
  text-align: center;
display: inline-block;
  text-decoration: none;
  color: #333;
  outline: none;
  /*アニメーションの指定*/
  transition: all .2s;
}

/*hoverした際の変化*/
.btntextchange_2:hover{
background:rgb(255, 0, 0);
color:#fff;
}

.btntextchange_2 span{
  /*絶対配置でテキストの位置を決める*/
position: absolute;
left: 50%;
top:50%;
  transform:translate(-50%,-50%);
  /*アニメーションの指定*/
  transition: all .5s;
/*ブロック要素にしてテキスト折り返しなし*/  
display: block;
white-space: nowrap;
}

/*差し替わるテキストの設定*/
.btntextchange_2 span:nth-child(2){
opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.btntextchange_2:hover span:nth-child(1){
opacity:0;/*透過0に*/
}

.btntextchange_2:hover span:nth-child(2){
opacity:1;/*不透明に*/
}


.show_button{
  margin-top: 0px;
  margin-bottom: 40px;
}



